.date {
    background-color: navy;
    color: white;
    display: 6px;
    border-radius: 6px;
}
body {
  background-color: #eddfb3;
}
#container {
  width: 80%;
  margin: 16px auto;
  text-align: center;
}
table {
  width: 100%;
  margin: 0px auto;
}
th {
  background-color: #a0d995;
  font-size: 20px;
}
td {
  background-color: #4cacbc;
}
@media screen and (max-width:768px){
  #container{
      width: 100%;
  }
  table{
    width:90%;
  }
}
input [type="submit"] {
  margin-bottom:6px ;
  background-color:#AEDBCE ;
  border: 0px;
  border-radius: 6px;
  width: 60px;
  height: 30px;
}